---
import Button from "@/components/Button.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import GithubIcon from "@/icons/github.astro";
import InstaIcon from "@/icons/instagram.astro";
import LinkedInIcon from "@/icons/linkedin.astro";
import XIcon from "@/icons/x.astro";
---

<MainLayout title="Home" desc="">
  <div class="container">
    <div class="content mask">
      <h1 class="font-bold text-5xl">Pablo Gamero</h1>
      <h2 class="font-light text-2xl">Developer & Entrepreneur</h2>
      <p>Leveraging technology to engineer innovative solutions.</p>
      <div class="flex gap-6">
        <Button> Browse My Work </Button>
        <Button variant="outlined"> Contact Me </Button>
      </div>
    </div>
    <div
      class="absolute flex flex-col gap-2 top-1/2 -translate-y-1/2 right-0 h-fit"
    >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/pablogg411"
        class="social"
      >
        <GithubIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://linkedin.com/in/pablogamerogarcia"
        class="social"
      >
        <LinkedInIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://instagram.com/pablogamerogarcia"
        class="social"
      >
        <InstaIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/pabgamgar"
        class="social"
      >
        <XIcon size="32" /></a
      >
    </div>
  </div>
</MainLayout>

<style>
  .container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 500px;
    height: 350px;
  }
  .content {
    padding: 64px 128px 64px 32px;
    width: 500px;
    height: 350px;
    justify-content: center;
    gap: 16px;
    clip-path: path(
      "M0 12C0 5.37259 5.37258 0 12 0H488C494.627 0 500 5.37258 500 12V38.5556C500 45.183 494.627 50.5556 488 50.5556H452C445.373 50.5556 440 55.9281 440 62.5556V287.444C440 294.072 445.373 299.444 452 299.444H488C494.627 299.444 500 304.817 500 311.444V338C500 344.627 494.627 350 488 350H12C5.37258 350 0 344.627 0 338V12Z"
    );
    animation: none;
  }

  .social {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    animation: slideInTop 0.45s ease-in-out forwards;
    opacity: 0;
  }
  .social:nth-child(1) {
    animation-delay: 0.15s;
  }
  .social:nth-child(2) {
    animation-delay: 0.3s;
  }
  .social:nth-child(3) {
    animation-delay: 0.45s;
  }
  .social:nth-child(4) {
    animation-delay: 0.6s;
  }
</style>
