---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
---

<MainLayout title="Not Found • Pablo Gamero" desc="Not Found Page">
  <div class="content">
    <h1>404</h1>
    <p>Page not found</p>
    <Button href="/">Go Back Home</Button>
  </div>
</MainLayout>

<style>
  .content {
    align-items: center;
    margin: auto;
  }
  button {
    margin-top: 1rem;
  }
</style>
