---
import MainLayout from "@/layouts/MainLayout.astro";
import ArticleTile from "@/components/PostTile.astro";
import BackButton from "@/components/BackButton.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = blogPosts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<MainLayout
    title="Writing • Pablo Gamero"
    desc="Thoughts on building Limero, shipping products, and lessons learned along the way."
    kw="blog, writing, lessons learned, building in public, Pablo Gamero"
    canon="https://pablogamero.com/blog"
    alt="https://pablogamero.com/es/blog"
>
    <div
        id="content"
        class="max-w-5xl w-full flex flex-col gap-8 px-4 sm:px-6 md:px-8 items-start"
    >
        <BackButton />
        <div class="flex flex-col gap-2">
            <h1>Writing</h1>
            <p class="text-pretty">
                Documenting the journey of building Limero, shipping products,
                and learning in public.
            </p>
        </div>
        <div class="flex flex-col gap-2 w-full">
            {
                sortedPosts.map((post) => {
                    return <ArticleTile post={post} lang="en" />;
                })
            }
        </div>
    </div>
</MainLayout>
