---
import CVLayout from "@/layouts/CVLayout.astro";
---

<CVLayout
  lang="en"
  title="CV"
  canon="https://pablogamero.com/cv"
  alt="https://pablogamero.com/es/cv"
  desc="CV"
  kw="CV, Curriculum Vitae, Resume"
>
  <div class="w-2/3 h-fit flex flex-col gap-8">
    <div
      id="header"
      class="flex flex-col gap-3"
    >
      <h1>Pablo Gamero</h1>
      <p class="text-sm text-neutral-500">
        Software developer focused on solving<br />specific problems for
        businesses and individuals
      </p>
    </div>
    <div
      id="professional-exp"
      class="flex flex-col gap-3"
    >
      <h2>Professional Summary</h2>
      <p>
        4th-year Computer Science student with experience in web software and
        mobile application development, focused on creating solutions that solve
        specific problems for businesses and individuals.
      </p>
    </div>
    <div
      id="work-exp"
      class="flex flex-col gap-3"
    >
      <h2>Work Experience</h2>
      <div class="flex flex-col gap-0.5">
        <h3>
          Freelance Developer · <span class="bold"
            >Spanish Multiple Sclerosis Network</span
          >
          <span class="date">2023 – Present</span>
        </h3>
        <ul>
          <li>
            Development and maintenance of the public website (reem.es),
            creating an information platform about the network’s research
            projects.
          </li>
          <li>
            Design and development of the private website (miembros.reem.es),
            used as an information hub for research teams nationwide.
          </li>
          <li>
            Act as the sole developer, managing the full development cycle.
          </li>
        </ul>
      </div>
    </div>
    <div
      id="projects"
      class="flex flex-col gap-3"
    >
      <h2>Projects</h2>
      <div class="flex flex-col gap-0.5">
        <h3>
          <span class="bold">Dibs</span> · Personal finance app <span
            class="date">2025</span
          >
        </h3>
        <ul>
          <li>
            Mobile app to manage debts easily, with reminders and visual
            progress tracking.
          </li>
          <li>
            Designed to help users maintain financial control in their daily
            lives.
          </li>
          <li>Stack: Flutter.</li>
        </ul>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3>
          <span class="bold">Pubmefy</span> · SaaS for researchers <span
            class="date">2024 – In development</span
          >
        </h3>
        <ul>
          <li>
            Tool to automate the creation and updating of scientific CVs in
            official formats (CVA, CVN).
          </li>
          <li>
            Includes a web app and a Chrome extension to auto-complete FECYT
            forms.
          </li>
          <li>Stack: React, Supabase, Chrome Extensions API.</li>
        </ul>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3>
          <span class="bold">DayKeeper</span> · Smart journaling app <span
            class="date">2025 – In development</span
          >
        </h3>
        <ul>
          <li>
            Personal diary app that allows users to record entries and ask AI
            questions (“What did I do last week?”).
          </li>
          <li>Developed for iOS (Swift, Core Data, CloudKit).</li>
          <li>
            Inspired by Apple Journal, with mood and habit tracking features.
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3>
          <span class="bold">Omnia</span> · Tech consultancy <span class="date"
            >2024 – In development</span
          >
        </h3>
        <ul>
          <li>
            Startup focused on identifying daily problems in small businesses
            and proposing digital solutions.
          </li>
          <li>
            Projects include web development, automation, and social media
            strategy.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-1/3 h-fit flex flex-col gap-8">
    <div id="links">
      <p><a href="tel:+34601159109">+34 601159109</a></p>
      <p><a href="mailto:hola@pablogamero.com">hola@pablogamero.com</a></p>
      <p><a href="https://pablogamero.com">pablogamero.com</a></p>
      <p><a href="https://github.com/pabgamgar">github.com/pabgamgar</a></p>
    </div>
    <div
      id="skills"
      class="flex flex-col gap-3"
    >
      <h2>Skills</h2>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">Programming Languages</h3>
        <p>Python, Java, JavaScript, TypeScript, HTML, CSS, SQL</p>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">Frameworks and Libraries</h3>
        <p>React, Next.js, Flutter, Astro, React Native</p>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">Databases and Cloud</h3>
        <p>Firebase, Supabase, MySQL, PostgreSQL, MariaDB</p>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">Tools and Platforms</h3>
        <p>Git, GitHub, Docker, Vercel, Cloudflare, WordPress, Figma</p>
      </div>
    </div>
    <div
      id="languages"
      class="flex flex-col gap-3"
    >
      <h2>Languages</h2>
      <p><span class="bold">Spanish</span> – Native</p>
      <p><span class="bold">English</span> – C1 (CAE)</p>
      <p><span class="bold">French</span> – B2 (DELF)</p>
    </div>
    <div
      id="education"
      class="flex flex-col gap-3"
    >
      <h2>Education</h2>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">
          School of Computer Engineering (ETSII), University of Seville <span
            class="date">2022 – Present</span
          >
        </h3>
        <p>Bachelor’s Degree in Computer Engineering – IT Technologies</p>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">
          École Polytechnique Fédérale de Lausanne (EPFL), Switzerland<span
            class="date">2020 – 2022</span
          >
        </h3>
        <p>
          Bachelor’s in Computer Science <span class="italic"
            >(not completed, transferred to University of Seville)</span
          >
        </p>
      </div>
      <div class="flex flex-col gap-0.5">
        <h3 class="bold">
          International School San Francisco de Paula, Seville<span class="date"
            >2018 – 2020</span
          >
        </h3>
        <p>
          International Baccalaureate – Engineering and Architecture National
          Baccalaureate – Engineering and Architecture
        </p>
      </div>
    </div>
  </div>
</CVLayout>
