---
import Button from "@/components/Button.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import GithubIcon from "@/icons/github.astro";
import InstaIcon from "@/icons/instagram.astro";
import LinkedInIcon from "@/icons/linkedin.astro";
import XIcon from "@/icons/x.astro";
---

<MainLayout
  title="Pablo Gamero García | Developer & Entrepreneur"
  desc="Welcome to my website! I'm a developer and entrepreneur. Learn more about my work, experience, and how to contact me."
  kw="Pablo Gamero García, developer, entrepreneur, freelancer, tech, startups, web development"
  canon='https://pablogamero.com'
  alt='https://pablogamero.com/es'
>
<script>
  console.log(navigator.language.includes("en"))
</script>
  <div class="container">
    <div class="content">
      <h1 class="font-bold text-5xl">Pablo Gamero</h1>
      <h2 class="font-light text-2xl">Developer & Entrepreneur</h2>
      <p>Leveraging technology to engineer innovative solutions.</p>
      <div class="flex sm:gap-6 sm:flex-row flex-col items-center gap-3 mt-8 sm:mt-4">
        <Button href="/work"> Browse My Work </Button>
        <Button variant="outlined" href="/contact"> Contact Me </Button>
      </div>
    </div>
    <div
      id="socials-list"
      class="sm:absolute flex sm:flex-col gap-2 sm:top-1/2 sm:-translate-y-1/2 sm:right-0 h-fit"
    >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/pabgamgar"
        class="social"
        aria-label="GitHub Profile"
      >
        <GithubIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://linkedin.com/in/pabgamgar"
        class="social"
        aria-label="LinkedIn Profile"
      >
        <LinkedInIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://instagram.com/pabgamgar"
        class="social"
        aria-label="Instagram Profile"
      >
        <InstaIcon size="32" /></a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://x.com/pabgamgar"
        class="social"
        aria-label="X Profile"
      >
        <XIcon size="32" /></a
      >
    </div>
  </div>
</MainLayout>

<style>
  .container {
    margin-left: 10%;
    position: absolute;
    width: 500px;
    height: 100vh;
    top: 0;
    animation: transitionIn 1s;
    align-self: flex-start;
    justify-self: center;
    display: flex;
    align-items: center;
  }
  .content {
    padding: 64px 96px 64px 40px;
    width: 500px;
    height: 350px;
    justify-content: center;
    gap: 16px;
    clip-path: path(
      "M0 12C0 5.37259 5.37258 0 12 0H488C494.627 0 500 5.37258 500 12V38.5556C500 45.183 494.627 50.5556 488 50.5556H452C445.373 50.5556 440 55.9281 440 62.5556V287.444C440 294.072 445.373 299.444 452 299.444H488C494.627 299.444 500 304.817 500 311.444V338C500 344.627 494.627 350 488 350H12C5.37258 350 0 344.627 0 338V12Z"
    );
    transition: all 0.45s ease-in-out;
    animation: none;
  }

  .social {
    padding: 10px;
    background-color: var(--content);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    animation: slideInTop 0.45s ease-in-out forwards;
    opacity: 0;
    color: var(--content-foreground)
  }
  .social:nth-child(1) {
    animation-delay: 0.15s;
  }
  .social:nth-child(2) {
    animation-delay: 0.3s;
  }
  .social:nth-child(3) {
    animation-delay: 0.45s;
  }
  .social:nth-child(4) {
    animation-delay: 0.6s;
  }

  @media screen and (width < 640px) {
    .content {
      padding: 64px 24px 64px 24px;
      width: 95%;
      max-width: 450px;
      clip-path: none;
      height: fit-content;
    }
    .container {
      margin: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      text-align: center;
    }
  }
</style>
