---

---

<footer class="w-full flex justify-between">
  <p
    class="rounded-tr-xl bg-white/50 w-fit px-6 py-2 flex gap-12 items-center backdrop-blur-xl font-bold text-sm"
  >
    pablogamero.com &copy; All rights reserved
  </p>
  <div
    class="rounded-tl-xl bg-white/50 w-fit backdrop-blur-xl flex px-6 py-2 gap-8 text-sm"
  >
    <a href="/privacy-policy">Privacy policy</a>
    <a href="/cookie-policy">Cookie Policy</a>
  </div>
</footer>
