---
import GithubIcon from "@/icons/github.astro";
import InstaIcon from "@/icons/instagram.astro";
import LinkedInIcon from "@/icons/linkedin.astro";
import XIcon from "@/icons/x.astro";

const githubUsername = "pabgamgar";
const linkedinUsername = "pabgamgar";
const instagramUsername = "pabgamgar";
const twitterUsername = "pabgamgar";
---

<footer class="footer">
    <a
        target="_blank"
        rel="noopener noreferrer"
        href={`https://github.com/${githubUsername}`}
        class="social-icon"
        aria-label="GitHub Profile"
    >
        <GithubIcon size="24" />
    </a>
    <a
        target="_blank"
        rel="noopener noreferrer"
        href={`https://linkedin.com/in/${linkedinUsername}`}
        class="social-icon"
        aria-label="LinkedIn Profile"
    >
        <LinkedInIcon size="24" />
    </a>
    <a
        target="_blank"
        rel="noopener noreferrer"
        href={`https://instagram.com/${instagramUsername}`}
        class="social-icon"
        aria-label="Instagram Profile"
    >
        <InstaIcon size="24" />
    </a>
    <a
        target="_blank"
        rel="noopener noreferrer"
        href={`https://x.com/${twitterUsername}`}
        class="social-icon"
        aria-label="X Profile"
    >
        <XIcon size="24" />
    </a>
</footer>

<style>
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-block: 16px;
    }

    .social-icon {
        padding: 10px;
        border-radius: 8px;
        color: var(--content-foreground);
        transition: all 250ms ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-icon:hover {
        scale: 1.1;
        transition: all 250ms ease-in;
    }
</style>
