---
interface Props {
	lang: 'es' | 'en'
}
const { lang } = Astro.props
---

<footer
	class="flex-warp absolute bottom-2 flex gap-6 self-center rounded-md bg-[var(--content)] px-4 py-2 text-[var(--content-foreground)] backdrop-blur-xl"
>
	<a href="/privacy-policy">{lang == 'en' ? 'Privacy policy' : 'Política de privacidad'}</a>
	<a href="/cookie-policy">{lang == 'en' ? 'Cookie policy' : 'Política de cookies'}</a>
</footer>
