---
interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<header class="w-full flex justify-between">
  <nav
    class="rounded-br-xl bg-white/50 w-fit px-8 py-2 flex gap-12 items-center backdrop-blur-xl"
  >
    {
      lang == "en" ? (
        <>
          <a href="/" class="text-xl font-black">
            PG
          </a>
          <a href="/en/about" class="font-normal">
            ABOUT
          </a>
          <a href="/en/work" class="font-normal">
            WORK
          </a>
          <a href="/en/blog" class="font-normal">
            BLOG
          </a>
          <a href="/en/contact" class="font-normal">
            CONTACT
          </a>
        </>
      ) : (
        <>
          <a href="/" class="text-xl font-black">
            PG
          </a>
          <a href="/es/sobre-mi" class="font-normal">
            SOBRE MI
          </a>
          <a href="/es/trabajo" class="font-normal">
            TRABAJO
          </a>
          <a href="/es/blog" class="font-normal">
            BLOG
          </a>
          <a href="/es/contacto" class="font-normal">
            CONTACTO
          </a>
        </>
      )
    }
  </nav>
  <div
    class="rounded-bl-xl bg-white/50 w-fit backdrop-blur-xl flex flex-col px-6 py-3 absolute right-0 top-0 gap-5 -translate-y-1/2 hover:translate-y-0 transition-all duration-500"
  >
    {
      lang == "en" ? (
        <>
          <a href="/es">🇪🇸 Spanish</a>
          <p>🇬🇧 English</p>
        </>
      ) : (
        <>
          <a href="/en">🇬🇧 English</a>
          <p>🇬🇧 Spanish</p>
        </>
      )
    }
  </div>
</header>
