---
interface Props {
  lang: "en" | "es";
}

const { lang = "en" } = Astro.props;
---

{
  lang === "en" && (
    <div class="content">
      <section id="bio" class="flex gap-8 items-center h-fit">
        <div class="flex flex-col gap-2 flex-1">
          <h1 class="title">😄 What's up?</h1>
          <p>
            I'm Pablo Gamero, a Computer Engineering student who thrives on
            connecting with others. I believe in the power of collaboration and
            am always seeking opportunities to be part of meaningful projects.
          </p>
          <p>
            Whether it's exploring the latest technological advancements,
            pursuing entrepreneurial endeavors, or diving into the world of
            music and psychology, I find joy in learning and connecting with
            like-minded individuals.
          </p>
          <p>
            If you have something to share or need a helping hand, I would be
            delighted to connect with you. Let's make something great together!
          </p>
        </div>
        <div id="aboutMe-img">
          <img src="/images/professional-me.webp" alt="Pablo Gamero Photo" />
        </div>
      </section>

      <section id="ideas">
        <h1 class="title">🌟 Ideas I Live By</h1>
        <ol>
          <li>
            <span class="bold">The 1% Rule.</span> To get really good at any
            skill or discipline, put yourself on a schedule and aim to get 1%
            better at some aspect of that skill with each new project. Over
            time, you’ll see your skills grow rapidly.
          </li>
          <li>
            <span class="bold">Show up and have something to show.</span> If you
            want to build great professional relationships and position yourself
            for more “lucky” opportunities, both of these actions are needed.
            You must spend a significant amount of time creating, honing your
            skills, and building something of value you can offer others. You
            also have to get out there and “show up” – attend events, interact
            with people online, and become a part of the community for whatever
            you’re pursuing.
          </li>
        </ol>
      </section>
    </div>
  )
}

{
  lang === "es" && (
    <div class="content">
      <section id="bio" class="flex gap-8 items-center h-fit">
        <div class="flex flex-col gap-2 flex-1">
          <h1 class="title">😄 ¿Qué tal?</h1>
          <p>
            Soy Pablo Gamero, estudiante de Ingeniería Informática que se
            entusiasma en conectar con los demás. Creo en el poder de la
            colaboración y siempre busco oportunidades para formar parte de
            proyectos significativos.
          </p>
          <p>
            Ya sea explorando los últimos avances tecnológicos, persiguiendo
            emprendimientos empresariales o adentrándome en el mundo de la
            música y la psicología, encuentro alegría en aprender y conectar con
            personas afines.
          </p>
          <p>
            Si tienes algo que compartir o necesitas una mano amiga, estaré
            encantado de conectarme contigo. ¡Vamos a crear algo grandioso
            juntos!
          </p>
        </div>
        <div id="aboutMe-img">
          <img src="/images/professional-me.webp" alt="Pablo Gamero Photo" />
        </div>
      </section>

      <section id="ideas">
        <h1 class="title">🌟 Ideales</h1>
        <ol>
          <li>
            <span class="font-bold">La Regla del 1%.</span> Para volverse
            realmente bueno en cualquier habilidad o disciplina, establece un
            horario y busca mejorar un 1% en algún aspecto de esa habilidad con
            cada nuevo proyecto. Con el tiempo, verás cómo tus habilidades
            crecen rápidamente.
          </li>
          <li>
            <span class="font-bold">Presentarse y tener algo que mostrar.</span>{" "}
            Si deseas construir relaciones profesionales sólidas y posicionarte
            para más oportunidades "afortunadas", ambas acciones son necesarias.
            Debes invertir una cantidad significativa de tiempo creando,
            perfeccionando tus habilidades y construyendo algo de valor que
            puedas ofrecer a otros. También debes salir y "presentarte": asistir
            a eventos, interactuar con personas en línea y convertirte en parte
            de la comunidad de lo que estás persiguiendo.
          </li>
        </ol>
      </section>
    </div>
  )
}

<style>
  /* ABOUT ME */

  #bio {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: fit-content;
    scroll-margin-top: 5rem;
  }

  #aboutMe-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
  }

  #aboutMe-text p a {
    text-decoration: none;
    color: var(--mainGreen);
    transition: color 0.5s;
  }

  #aboutMe-text p a:hover {
    color: #18614e;
    transition: color 0.5s;
  }

  #aboutMe-img {
    flex: 1;
    position: relative;
    border-radius: 1rem;
    aspect-ratio: 1/1;
  }

  #aboutMe-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  /* ABOUT ME END */

  /* IDEAS */

  #ideas {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    align-items: center;
    width: 100%;
  }

  #ideas > ol {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  /* IDEAS END */

  /* ROLE MODELS */

  .roleModel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ROLE MODELS END */

  @media screen and (max-width: 400px) {
    .portfolio-callforaction {
      flex-direction: column;
    }

    #aboutMe-text {
      margin-bottom: auto !important;
    }

    main {
      padding-top: 4rem !important;
    }
  }

  @media only screen and (max-width: 600px) {
    #aboutMe-img {
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 800px) {
    #bio {
      flex-direction: column;
      align-items: center;
    }

    #aboutMe-img {
      width: 80%;
      margin: 0;
      padding: 0;
    }

    .goal .goalDescription {
      display: block;
    }

    .goal:hover > .bold {
      display: block;
    }
  }

  @media only screen and (max-width: 1000px) {
    #goals-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .goal {
      width: 80%;
      aspect-ratio: 10/1;
    }
  }
</style>
