---
import LocationSVG from "../icons/location.astro";
import ArrowTopLeftSVG from "../icons/arrow-top-left.astro";
import ArrowTopLeft from "../icons/arrow-top-left.astro";
import { Button } from "@/components/ui/button";
import SendSVG from "../icons/send.astro";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

{
  lang === "en" && (
    <div class="content-contact content">
      <h1 class="text-3xl font-bold">Contact me</h1>
      <form
        class="flex flex-col gap-6"
        action="https://formspree.io/f/mqkopjvg"
        method="POST"
      >
        <div class="flex flex-col gap-2">
          <label for="name">👤 Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email">✉️ Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="flex flex-col gap-2">
          <label for="message">𝌕 Message</label>
          <textarea id="message" name="message" required />
        </div>
        <Button type="submit" className="text-black flex gap-2 group text-md">
          <p>Send</p>
          <SendSVG
            size="16"
            class="group-hover:translate-x-1 transition duration-300"
          />
        </Button>
      </form>
      <p class="text-center">or</p>
      <a
        href="https://booking.akiflow.com/pablogamero"
        class="h-10 w-auto flex items-center justify-center bg-gradient-to-br from-white/50 to-white/10 shadow-2xl rounded-lg"
      >
        Book a meeting
      </a>
    </div>
  )
}

{
  lang === "es" && (
    <div class="content-contact content">
      <h1 class="text-3xl font-bold">Contáctame</h1>
      <form
        class="flex flex-col gap-6"
        action="https://formspree.io/f/mqkopjvg"
        method="POST"
      >
        <div class="flex flex-col gap-2">
          <label for="name">👤 Nombre</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email">✉️ Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="flex flex-col gap-2">
          <label for="message">𝌕 Mensaje</label>
          <textarea id="message" name="message" required />
        </div>
        <Button type="submit" className="text-black flex gap-2 group text-md">
          <p>Enviar</p>
          <SendSVG
            size="16"
            class="group-hover:translate-x-1 transition duration-300"
          />
        </Button>
      </form>
      <p class="text-center">o</p>
      <a
        href="https://booking.akiflow.com/pablogamero"
        class="h-10 w-auto flex items-center justify-center bg-gradient-to-br from-white/50 to-white/10 shadow-2xl rounded-lg"
      >
        Reserva una reunión
      </a>
    </div>
  )
}

<style>
  .content-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
    min-width: 320px;
    width: 50%;
    padding: 3rem 2rem;
    margin-block: 2rem;
    height: fit-content;
    align-self: flex-start;
  }

  input,
  textarea {
    border: 1px solid var(--primary-black);
    border-radius: 0.25rem;
    background-color: transparent;
    padding: 0.5rem;
    resize: none;
  }

  @media screen and (max-width: 600px) {
    .content-contact {
      align-self: center;
      width: 100%;
    }
  }
</style>
