---
interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;
---

{
  lang === "en" && (
    <div class="content">
      <section id="projects">
        <input type="radio" name="slider" class="d-none" id="s1" />
        <input type="radio" name="slider" class="d-none" id="s2" checked />
        <input type="radio" name="slider" class="d-none" id="s3" />
        <input type="radio" name="slider" class="d-none" id="s4" />
        <input type="radio" name="slider" class="d-none" id="s5" />

        <div class="cards">
          <label for="s1" id="slide1">
            <div class="projectCard">
              <div class="projectCard-top">
                <img
                  src="/images/itsfreeLogo square.webp"
                  alt="It'sFree Logo"
                />
                <h1 class="bold">It'sFree</h1>
              </div>
              <span class="project-type">
                <p>Enterprise</p>
              </span>
              <div class="projectCard-description">
                <p>First free essential consumer goods company in Europe</p>
              </div>
              <div class="projectCard-bottom">
                <a href="https://www.itsfree.biz" class="projectCard-link">
                  Visit Website
                </a>
                <a
                  href="https://www.instagram.com/itsfree.biz"
                  aria-label="Instagram link"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/itsfree_biz"
                  aria-label="Twitter link"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/company/itsfree"
                  aria-label="Linkedin link"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
          <label for="s2" id="slide2">
            <div class="projectCard">
              <div class="projectCard-top">
                <img src="/images/omnia.webp" alt="Omnia Logo" />
                <h1 class="bold">Omnia</h1>
              </div>
              <span class="project-type">
                <p>Enterprise</p>
              </span>
              <div class="projectCard-description">
                <p>
                  At Omnia, we bring your brand to life and elevate your digital
                  presence
                </p>
              </div>
              <div class="projectCard-bottom">
                <a href="https://www.omniacorp.es" class="projectCard-link">
                  Visit Website
                </a>
                <a
                  href="https://www.instagram.com/omnia_corp"
                  aria-label="Instagram link"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/omnia_corp"
                  aria-label="Twitter Link"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/company/omniacorp/"
                  aria-label="Linkedin link"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
          <label for="s3" id="slide3">
            <div class="projectCard">
              <div class="projectCard-top">
                <img
                  src="/images/programmingPablo.webp"
                  alt="Portfolio Website Logo"
                />
                <h1 class="bold">Portfolio Website</h1>
              </div>
              <span class="project-type">
                <p>Product</p>
              </span>
              <div class="projectCard-description">
                <p>
                  A website to act as my online CV and aimed to anyone that
                  wants to learn more about me
                </p>
              </div>
              <div class="projectCard-bottom">
                <a href="https://www.pablogamero.com" class="projectCard-link">
                  Visit Website
                </a>
                <a
                  href="https://www.instagram.com/pablogamerogarcia"
                  aria-label="Link for instagram"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/pablogg411"
                  aria-label="Link for twitter"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/in/pablogamerogarcia"
                  aria-label="Link for linkedin"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
        </div>
      </section>

      <section id="timeline">
        <h1 class="title" id="timeline">
          Events
        </h1>
        <div class="timeline-div">
          <span class="arrow2">
            <i class="fa-solid fa-arrow-down" />
          </span>
          <ul class="timeline">
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">It'sFree Incorporation</span>
                  <span class="time-wrapper">
                    <span class="time">April 2023</span>
                  </span>
                </div>
                <div class="desc">It'sFree is finally incorporated.</div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">Change of Route</span>
                  <span class="time-wrapper">
                    <span class="time">July 2022</span>
                  </span>
                </div>
                <div class="desc">
                  I decide to continue my studies back in Spain at ETSII
                  (Seville) to develop It'sFree.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">It'sFree Starting Point</span>
                  <span class="time-wrapper">
                    <span class="time">May 2022</span>
                  </span>
                </div>
                <div class="desc">
                  Me and my business partners start working on the idea of
                  It'sFree, learning on the go.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Start of College</span>
                  <span class="time-wrapper">
                    <span class="time">September 2020</span>
                  </span>
                </div>
                <div class="desc">
                  Start of my Computer Science studies at EPFL, Lausanne
                  (Switzerland).
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">End of High School</span>
                  <span class="time-wrapper">
                    <span class="time">July 2020</span>
                  </span>
                </div>
                <div class="desc">
                  End of all minor studies, ending up with a High School Diploma
                  and an International Baccalaureate Diploma.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">StartUp Weekend</span>
                  <span class="time-wrapper">
                    <span class="time">July 2018</span>
                  </span>
                </div>
                <div class="desc">
                  My team earned 3rd place at StartUp Weekend. This experience
                  ignited my passion for innovation and entrepreneurship,
                  reinforcing my dedication to pursue entrepreneurial endeavors.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">StartUp Weekend</span>
                  <span class="time-wrapper">
                    <span class="time">March 2018</span>
                  </span>
                </div>
                <div class="desc">
                  My team won the public prize at StartUp Weekend Youth with the
                  business idea we developed. This event was the starting point
                  for my passion for innovation and entrepreneurship.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span id="first-entry" class="flag">
                    First Lego League
                  </span>
                  <span class="time-wrapper">
                    <span class="time">March 2015</span>
                  </span>
                </div>
                <div class="desc">
                  I participated on the First Lego League, an annual contest
                  where participants solve real-life problems by programming
                  robots to overcome specific challenges. My team managed to
                  obtain first place in Andalucía.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  )
}

{
  lang === "es" && (
    <div class="content">
      <section id="projects">
        <input type="radio" name="slider" class="d-none" id="s1" />
        <input type="radio" name="slider" class="d-none" id="s2" checked />
        <input type="radio" name="slider" class="d-none" id="s3" />
        <input type="radio" name="slider" class="d-none" id="s4" />
        <input type="radio" name="slider" class="d-none" id="s5" />

        <div class="cards">
          <label for="s1" id="slide1">
            <div class="projectCard">
              <div class="projectCard-top">
                <img
                  src="/images/itsfreeLogo square.webp"
                  alt="It'sFree Logo"
                />
                <h1 class="bold">It'sFree</h1>
              </div>
              <span class="project-type">
                <p>Empresa</p>
              </span>
              <div class="projectCard-description">
                <p>
                  Primera empresa de bienes de consumo esenciales gratuitos en
                  Europa
                </p>
              </div>
              <div class="projectCard-bottom">
                <a href="https://www.itsfree.biz" class="projectCard-link">
                  Visitar
                </a>
                <a
                  href="https://www.instagram.com/itsfree.biz"
                  aria-label="Instagram link"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/itsfree_biz"
                  aria-label="Twitter link"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/company/itsfree"
                  aria-label="Linkedin link"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
          <label for="s2" id="slide2">
            <div class="projectCard">
              <div class="projectCard-top">
                <img src="/images/omnia.webp" alt="Omnia Logo" />
                <h1 class="bold">Omnia</h1>
              </div>
              <span class="project-type">
                <p>Empresa</p>
              </span>
              <div class="projectCard-description">
                <p>
                  En Omnia, damos vida a tu marca y elevamos tu presencia
                  digital
                </p>
              </div>
              <div class="projectCard-bottom">
                <a href="https://www.omniacorp.es" class="projectCard-link">
                  Visitar
                </a>
                <a
                  href="https://www.instagram.com/omnia_corp"
                  aria-label="Instagram link"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/omnia_corp"
                  aria-label="Twitter Link"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/company/omniacorp/"
                  aria-label="Linkedin link"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
          <label for="s3" id="slide3">
            <div class="projectCard">
              <div class="projectCard-top">
                <img
                  src="/images/programmingPablo.webp"
                  alt="Portfolio Website Logo"
                />
                <h1 class="bold">Web personal</h1>
              </div>
              <span class="project-type">
                <p>Producto</p>
              </span>
              <div class="projectCard-description">
                <p>
                  Una página web que sirva de currículum online, enfocada a
                  cualquiera que quiera aprender más sobre mi
                </p>
              </div>
              <div class="projectCard-bottom">
                <a
                  href="https://www.instagram.com/pablogamerogarcia"
                  aria-label="Link for instagram"
                >
                  <i class="fa-brands fa-instagram footer-social" />
                </a>
                <a
                  href="https://twitter.com/pablogg411"
                  aria-label="Link for twitter"
                >
                  <i class="fa-brands fa-twitter footer-social" />
                </a>
                <a
                  href="https://www.linkedin.com/in/pablogamerogarcia"
                  aria-label="Link for linkedin"
                >
                  <i class="fa-brands fa-linkedin-in footer-social" />
                </a>
              </div>
            </div>
          </label>
        </div>
      </section>

      <section id="events">
        <h1 class="title" id="timeline">
          Eventos
        </h1>
        <div class="timeline-div">
          <a href="#first-entry" class="arrow2">
            <i class="fa-solid fa-arrow-down" />
          </a>
          <ul class="timeline">
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Incorporación It'sFree</span>
                  <span class="time-wrapper">
                    <span class="time">Abril 2023</span>
                  </span>
                </div>
                <div class="desc">It'sFree es incorporada.</div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">Cambio de Ruta</span>
                  <span class="time-wrapper">
                    <span class="time">Julio 2022</span>
                  </span>
                </div>
                <div class="desc">
                  Decido continuar mis estudios en España, en la ETSII
                  (Sevilla), para desarrollar It'sFree.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">Comienzo de It'sFree</span>
                  <span class="time-wrapper">
                    <span class="time">Mayo 2022</span>
                  </span>
                </div>
                <div class="desc">
                  Mis compañeros y yo comenzamos a trabajar en la idea de
                  It'sFree, aprendiendo sobre la marcha.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Comienzo de la Universidad</span>
                  <span class="time-wrapper">
                    <span class="time">Septiembre 2020</span>
                  </span>
                </div>
                <div class="desc">
                  Inicio de mis estudios de Ciencias de la Computación en la
                  EPFL (Lausanne, Suiza).
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Fin de Bachillerato</span>
                  <span class="time-wrapper">
                    <span class="time">Julio 2020</span>
                  </span>
                </div>
                <div class="desc">
                  Finalización de todos los estudios menores, obteniendo un
                  diploma del Bachillerato Español y un diploma del Bachillerato
                  Internacional.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">StartUp Weekend</span>
                  <span class="time-wrapper">
                    <span class="time">Julio 2018</span>
                  </span>
                </div>
                <div class="desc">
                  Mi equipo obtuvo el tercer lugar en el StartUp Weekend. Esta
                  experiencia confirmó mi pasión por la innovación y el
                  emprendimiento, reforzando mi dedicación para perseguir
                  proyectos empresariales.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">StartUp Weekend Youth</span>
                  <span class="time-wrapper">
                    <span class="time">Marzo 2018</span>
                  </span>
                </div>
                <div class="desc">
                  Mi equipo ganó el premio del público en el StartUp Weekend
                  Youth con la idea de negocio que desarrollamos. Este evento
                  fue el punto de partida para mi pasión por la innovación y el
                  emprendimiento.
                </div>
              </div>
            </li>

            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span id="first-entry" class="flag">
                    First Lego League
                  </span>
                  <span class="time-wrapper">
                    <span class="time">Marzo 2015</span>
                  </span>
                </div>
                <div class="desc">
                  Participé en el First Lego League, un concurso anual donde los
                  participantes resuelven problemas de la vida real programando
                  robots para superar desafíos específicos. Mi equipo logró
                  obtener el primer lugar en Andalucía.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  )
}

<style>
  /* PROJECTS */

  #projects {
    position: relative;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
  }

  #projects input {
    display: none;
  }

  .cards {
    position: relative;
    height: 30%;
    width: 40%;
    min-width: 270px;
    perspective: 500px;
    transform-style: preserve-3d;
  }

  .cards label {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.55s ease;
    border-radius: 10px;
  }

  .cards .projectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    height: 15rem;
    aspect-ratio: 1/1;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .projectCard-top {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .projectCard-top > img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }

  .projectCard-top > h1 {
    font-size: 1.5rem;
  }

  .project-type {
    padding: 0.1rem 0.5rem;
    background-color: #c3e2d6;
    border-radius: 4px;
  }

  .projectCard-description {
    text-align: center;
  }

  .projectCard-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projectCard-bottom > .projectCard-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #c3e2d6;
    transition: background-color 0.2s ease;
  }

  .projectCard-bottom > .projectCard-link:hover {
    background-color: #7fe1bb;
    transition: background-color 0.2s ease;
  }

  .projectCard-bottom > a > i {
    color: black !important;
  }

  #s1:checked ~ .cards #slide4,
  #s2:checked ~ .cards #slide5,
  #s3:checked ~ .cards #slide1,
  #s4:checked ~ .cards #slide2,
  #s5:checked ~ .cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
  }

  #s1:checked ~ .cards #slide5,
  #s2:checked ~ .cards #slide1,
  #s3:checked ~ .cards #slide2,
  #s4:checked ~ .cards #slide3,
  #s5:checked ~ .cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
  }

  #s1:checked ~ .cards #slide1,
  #s2:checked ~ .cards #slide2,
  #s3:checked ~ .cards #slide3,
  #s4:checked ~ .cards #slide4,
  #s5:checked ~ .cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
  }

  #s1:checked ~ .cards #slide2,
  #s2:checked ~ .cards #slide3,
  #s3:checked ~ .cards #slide4,
  #s4:checked ~ .cards #slide5,
  #s5:checked ~ .cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
  }

  #s1:checked ~ .cards #slide3,
  #s2:checked ~ .cards #slide4,
  #s3:checked ~ .cards #slide5,
  #s4:checked ~ .cards #slide1,
  #s5:checked ~ .cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
  }

  /* PROJECTS END */

  /* EVENTS */

  #timeline {
    padding-inline: 3rem;
    flex-grow: 1;
    transform: translateY(0.75rem);
  }

  /* ================ The Timeline ================ */

  .timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
    height: auto;
  }

  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(30, 87, 153, 1)),
      color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    z-index: 5;
  }

  .timeline li {
    list-style: none;
    padding: 1em 0;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }

  .flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
  }

  .direction-l .flag {
    -webkit-box-shadow:
      -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:
      -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow:
      -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
  }

  .direction-r .flag {
    -webkit-box-shadow:
      1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:
      1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow:
      1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-r .flag:before {
    left: -40px;
  }

  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
  }

  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
  }

  .desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }

  .timeline-div {
    height: 390px;
    overflow: auto;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }

  .timeline-div i {
    position: absolute;
    bottom: 0;
    margin-inline: auto;
  }

  /* Timeline Media Queries */

  @media screen and (max-width: 660px) {
    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }

    .timeline li {
      padding: 2em 0;
    }

    .direction-l,
    .direction-r {
      float: none;
      width: 100%;

      text-align: center;
    }

    .flag-wrapper {
      text-align: center;
    }

    .flag {
      background: rgb(255, 255, 255);
      z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 50%;
      content: " ";
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255, 80, 80);
      z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255, 255, 255);
      border-width: 8px;
      pointer-events: none;
    }

    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }

    .direction-l .time-wrapper {
      float: none;
    }

    .direction-r .time-wrapper {
      float: none;
    }

    .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245, 245, 245);
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

      z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;

      z-index: 15;
    }
  }

  @media screen and ((min-width: 400px) and (max-width: 660px)) {
    .direction-l .desc,
    .direction-r .desc {
      margin: 1em 4em 0 4em;
    }
  }

  /* EVENTS END */

  @media only screen and (max-width: 800px) {
    .projectKanban {
      flex-direction: column;
      gap: 2rem;
    }

    .projectKanban-item {
      width: 100%;
    }
  }
</style>
