---
import { getCollection } from "astro:content";

interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;

const portfolio = await getCollection("portfolio");
---

{
  lang === "en" && (
    <div class="content">
      <section class="w-full">
        <h1 class="title">Portfolio</h1>
        <div id="portfolio">
          {portfolio.map((object) => (
            <div
              class={`portfolio-item`}
              style={`${object.data.order ? "order: " + object.data.order : "order: 999"}`}
            >
              <img src={object.data.logo} alt={object.data.name} />
              <h2>{object.data.name}</h2>
              <p>{object.data.description[0]}</p>
            </div>
          ))}
        </div>
      </section>
    </div>
  )
}

{lang === "es" && <div class="content" />}

<style>
  #portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .portfolio-item {
    aspect-ratio: 1;
    max-height: 18rem;
    min-width: 16rem;
    max-width: 24rem;
    flex: 1 1 0%;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)
    );
    border-radius: 0.5rem;
    border: rgba(255, 255, 255, 0.2) 0.5px solid;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 500ms;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
  }
  .portfolio-item:hover {
    box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.2);
    transition: all 500ms;
  }
  .portfolio-item > img {
    width: 48px;
    aspect-ratio: 1;
    object-fit: contain;
    align-items: center;
    justify-content: center;
  }
  .portfolio-item > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
  }
  .portfolio-item > p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    text-align: center;
    text-wrap: pretty;
  }
</style>
