---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
---

<MainLayout
  title="No encontrado • Pablo Gamero"
  desc="Página no encontrada"
  robots="noindex, nofollow"
>
  <div class="content">
    <h1>404</h1>
    <p>Página no encontrada</p>
    <Button href="/es/">Volver al inicio</Button>
  </div>
</MainLayout>

<style>
  .content {
    align-items: center;
    margin: auto;
  }
  button {
    margin-top: 1rem;
  }
</style>
