---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
import { MailIcon } from "lucide-react";
---

<MainLayout
  title="Contáctame • Pablo Gamero"
  desc="Hablemos! ¡Ponte en contacto conmigo y cuéntame tus ideas!"
  kw="Pablo Gamero, Pablo Gamero García, contacto, desarrollador, emprendedor, consultas, colaboraciones"
  lang="es"
  canon="https://pablogamero.com/es/contacto"
  alt="https://pablogamero.com/contact"
>
  <div class="content">
    <div class="flex flex-col lg:flex-row gap-6 lg:gap-12">
      <div
        class="flex flex-col sm:flex-row gap-4 lg:flex-col items-center w-full justify-center"
      >
        <img
          src="/images/happyPablo.png"
          alt="Pablo Gamero Avatar"
          class="size-20 object-contain sm:size-32"
        />
        <div
          class="flex flex-col gap-2 items-center sm:items-start lg:items-center"
        >
          <p
            class="px-2.5 py-0.5 rounded-full bg-[var(--content)] w-fit flex gap-2 items-center text-sm"
          >
            <span class="relative inline-flex rounded-full size-2 bg-green-500">
              <span
                class="animate-ping inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
              >
              </span>
            </span>
            Open to work
          </p>
          <h2 class="text-3xl">Pablo Gamero</h2>
          <a
            class="flex gap-2 items-center"
            href="mailto:pablo@pablogamero.com"
          >
            <MailIcon size={16} />
            pablo@pablogamero.com
          </a>
        </div>
      </div>
      <div>
        <h2>Hablemos!</h2>
        <form
          action="https://formspree.io/f/mqkopjvg"
          method="POST"
          class="mt-4 flex flex-col gap-2 min-w-48 w-full md:min-w-96"
        >
          <div class="flex flex-col gap-1">
            <label for="name">Nombre</label>
            <input
              type="text"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="message">Mensaje</label>
            <textarea
              id="message"
              name="message"
              required
            ></textarea>
          </div>
          <Button type="submit">Enviar</Button>
        </form>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .content {
    margin: auto;
    min-width: fit-content;
    width: 85%;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: black;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: #1e1e1e;
  }

  textarea {
    min-height: 100px;
    resize: none;
  }
</style>
